#black {
  background-image: url("https://images.unsplash.com/photo-1489779162738-f81aed9b0a25?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b56cc98130be8cfdaf1f7a1fed8142dc&auto=format&fit=crop&w=1382&q=80");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.jumbotron {
  background-color: rgba(0,0,0,0.4);
  height:600px;
}

h1,h2,h3,h4,h5,h6 {
  color: #d3d3d3;
}
