<div id="black" style="height:600px;width:100%;">
  <div class="jumbotron" style="height:600px;border-radius:0px;">
    <app-navbar></app-navbar>
    <div class="container text-center" style="height:100%;">
      <table class="" style="height:100%; width:100%;">
        <tbody>
          <tr>
            <td class="align-middle">
              <h1 class="display-4">Accumulation of Creations</h1>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="panel panel-primary shadow" style="margin-top:-60px;">
        <div class="panel-heading"><img src="https://images.unsplash.com/photo-1483989555735-96414d9dfe1c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=993246ff6a626b3b9eb64a4f42b74493&auto=format&fit=crop&w=1350&q=80" height="250" width="350" alt=""></div>
        <div class="panel-body p-3 text-center">
          <p><strong>Mike Love</strong></p>
          <p>This painting of Mike Love is where my journey as an "artist" began. Mike Love is a very inspirational role model for me personally. His music has guided me along my path to live life intuitively, and to make a positive impact on those who enter my own life.</p>
          <p class=""><i>12/22/15</i></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default shadow" style="margin-top:-60px;">
        <div class="panel-heading"><img src="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eaaa6e11b146f75c1a685578d3c89dff&auto=format&fit=crop&w=500&q=60" height="250" width="350" alt=""></div>
        <div class="panel-body p-3 text-center">
          <p><strong>Mike Love</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In velit distinctio minima, perferendis modi excepturi commodi. Distinctio nesciunt quae, eligendi!</p>
          <p class=""><i>12/22/15</i></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default shadow" style="margin-top:-60px;">
        <div class="panel-heading"><img src="https://images.unsplash.com/photo-1485331129317-1717811a2b75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b713c86ebb20befc80029db6bc98dae&auto=format&fit=crop&w=1507&q=80" height="250" width="350" alt=""></div>
        <div class="panel-body p-3 text-center">
          <p><strong>Mike Love</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At magnam dolor doloribus ducimus, suscipit sint odio rem qui eveniet modi deserunt magni quam laudantium beatae, vero impedit tenetur optio placeat culpa aliquam tempore corporis, consequatur? Saepe, corporis! Quia, fuga quisquam.</p>
          <p class=""><i>12/22/15</i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="panel panel-primary shadow" style="">
        <div class="panel-heading"><img src="https://images.unsplash.com/photo-1483989555735-96414d9dfe1c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=993246ff6a626b3b9eb64a4f42b74493&auto=format&fit=crop&w=1350&q=80" height="250" width="350" alt=""></div>
        <div class="panel-body p-3 text-center">
          <p><strong>Mike Love</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, est, blanditiis. Enim quidem, fugit accusantium, voluptatibus repellat velit hic ipsa numquam repellendus deserunt blanditiis itaque officia tempora dolore nisi aliquid eius nesciunt? Beatae, porro dignissimos.</p>
          <p class=""><i>12/22/15</i></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default shadow" style="">
        <div class="panel-heading"><img src="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eaaa6e11b146f75c1a685578d3c89dff&auto=format&fit=crop&w=500&q=60" height="250" width="350" alt=""></div>
        <div class="panel-body p-3 text-center">
          <p><strong>Mike Love</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aliquam eveniet voluptate, possimus sunt, repellendus ea modi corrupti suscipit, temporibus itaque quaerat! Dolorem ullam iusto, hic quas.</p>
          <p class=""><i>12/22/15</i></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default shadow" style="">
        <div class="panel-heading"><img src="https://images.unsplash.com/photo-1485331129317-1717811a2b75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b713c86ebb20befc80029db6bc98dae&auto=format&fit=crop&w=1507&q=80" height="250" width="350" alt=""></div>
        <div class="panel-body p-3 text-center">
          <p><strong>Mike Love</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi recusandae dolorum nihil quod qui rerum nostrum. Esse ea error, aliquam voluptate cupiditate accusantium cumque neque! Blanditiis, sapiente eius consequatur accusamus rerum aliquid ex odit mollitia! Voluptas.</p>
          <p class=""><i>12/22/15</i></p>
        </div>
      </div>
    </div>
  </div>
</div>
