<div id="black" style="height:100%;width:100%;">
  <div class="jumbotron" style="border-radius:0px;">
    <app-navbar></app-navbar>
    <div class="container text-center" style="height:100%;">
      <table class="" style="height:100%; width:100%;">
        <tbody>
          <tr>
            <td class="align-middle">
              <h1 class="display-4">Freelance Artist</h1>
              <p class="lead">Ian "Kiyo" Shishido</p>
              <a class="btn btn-info" routerLink="/portfolio" role="button">Explore</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
