#black {
  background-image: url("https://images.unsplash.com/photo-1523978591478-c753949ff840?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c92fa17c403874495c84c6f31f5ef403&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.jumbotron {
  background-color: rgba(0,0,0,0.4);
  height:100%;
  width: 100%;
  margin-bottom: inherit;
}

h1,h2,h3,h4,h5,h6 {
  color: #d3d3d3;
}
p {
  color: #d3d3d3;
}
